<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>%.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>,.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{6,10}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{6,10}}</string>
                <key>sourceSize</key>
                <string>{6,26}</string>
            </dict>
            <key>-.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,14},{10,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{10,4}}</string>
                <key>sourceSize</key>
                <string>{12,26}</string>
            </dict>
            <key>..png</key>
            <dict>
                <key>frame</key>
                <string>{{226,23},{5,6}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{5,6}}</string>
                <key>sourceSize</key>
                <string>{5,26}</string>
            </dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{9,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,26}}</string>
                <key>sourceSize</key>
                <string>{9,26}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,26}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,2},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,26}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>X.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>slanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{14,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,26}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yellow.png</string>
            <key>size</key>
            <string>{251,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6eafac7572378eed3383e451236166ca:1/1$</string>
            <key>textureFileName</key>
            <string>yellow.png</string>
        </dict>
    </dict>
</plist>
